*{
text-decoration:none;
background-color:none;
left:0px;
top:0px;
border: 5px solid red;
margin:0px;
padding:0;
}

html{
margin: 5px;
border:6px solid white;
padding: 3px;
background-color: blue;
}

body{
border:9px solid green;
margin: 15px;
height:60em;
background-color: yellow;
}

header{
position:absolute; 
left:5%;
top:35px;
width: 90%;
height: 9.rem;
background-color: rgb(10,100,100);
border: 1px solid black;
margin: 0px;
padding: 15px;
}

aside,main, article{
position:absolute; 
top:10.0rem;
height: 16em;  
background-color: rgb(40,100,10);
border: 4px solid blue;
//margin: 0px;
//padding: 0px;
float:left;
}

aside{left:5%;width:24%;}
main{left:30%;width:40%;}
article{left:71%;width:24%;}

section{
position:absolute; 
left:5%;
top:23em;
width: 90%;
background-color:gray;
}

footer{
position:absolute; 
left:5%;
top:36em;
width: 90%;
background-color: rgb(100,100,100);
//border: 1px solid red;
//margin: 0px;
//padding: 0px;
}
