*{
text-decoration:none;
background-color:none;
left:0px;
top:0px;
border: 1px solid red;
margin:0px;
padding:0;
}

html{
margin: 5px;
border:2px solid white;
padding: 3px;
background-color: rgb(250,0,100);
}

body{
border:5px solid green;
margin: 5px;
height:50em;
background-color: rgb(100,150,250);
}

header{
position:absolute; 
left:5%;
top:30px;
width: 90%;
height: 4em;
background-color: rgb(10,100,100);
border: 0px solid red;
margin: 0px;
padding: 0px;
}

aside,main, article{
position:absolute; 
top:6.5em;
height: 16em;  
background-color: rgb(40,100,10);
//border: 1px solid red;
//margin: 0px;
//padding: 0px;
float:left;
}

aside{left:5%;width:24%;}
main{left:30%;width:40%;}
article{left:71%;width:24%;}

section{
position:absolute; 
left:5%;
top:23em;
width: 90%;
background-color:gray;
}

footer{
position:absolute; 
left:5%;
top:36em;
width: 90%;
background-color: rgb(100,100,100);
//border: 1px solid red;
//margin: 0px;
//padding: 0px;
}
