body {
    /*    
max-width: max-content;
width: 100%;
  */
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(250, 220, 150, 0.781);
    font-size: 14px;
}

header {
    background: purple;
    height: 2.0rem;
}

h1,
h2 {
    text-align: center;
    margin: 0;
}

img {
    height: 30px;
    width: 70px;
    border-style: solid;
    border-width: 8px;
    margin: 18px;
    padding: 5px;
    background-color: blue;
}

section {
    background-color: brown;
    min-height: 500px;
}

/*********** flexbox CSS ************/
section {
    /*Контейнер*/
    display: flex;
    /*главная ось*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    /*поперечная ось */
    align-items: flex-end;
}

article {
    /*width: 350px;*/
    border-style: solid;
    border-width: 4px;
    padding: 10px;
    margin: 20px;
    background: aqua;
    /*  margin: auto; -центрируем по горизонтали и вертикали*/
}

article {
    /*width: 350px;*/
    flex-basis: 350px;
}


.order_align-self {
    order: 0;
    align-self: flex-end
        /*
    order:1;  - порядок 0- высший
    align-self: flex-start; поперечн.локальн. выравнив
    */
}


.basis_grow_shrink {
    flex-grow: 0;
    flex-shrink: 0;
    /*
    flex-basis:350px;
    flex-grow:1; - растяжение
    flex-shrink:1;  - сжатие
    */
}



button {
    margin: 1.0rem;
}

/* .button_flex {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: right;
    align-items: start;
} */


/* 
img:hover {
    height: 400px;
    width: 400px;
} */