body {
    /*    
max-width: max-content;
width: 100%;
  */
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(250, 220, 150, 0.781);
    font-size: 0.9rem;
}

header {
    background: purple;
    height: 2rem;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

img {
    height: 40px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    margin: 1rem;
    padding: 0rem;
    background-color: black;
}

section {
    background-color: brown;
    min-height: 300px;
}

/*********** flexbox CSS ************/
section {
    /*Контейнер*/
    display: flex;
    /*главная ось*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    /*поперечная ось */
    align-items: flex-end;
}

article {
    /*width: 350px;*/
    border-style: solid;
    border-width: 4px;
    padding: 10px;
    margin: 10px;
    background: aqua;
    /*  margin: auto; -центритуем по горизонтали и вертикали*/
}

article {
    /*width: 350px;*/
    flex-basis:350px;
    }


.order_align-self {
    /*
    order:1;  - порядок 0- высший
    align-self: flex-start; поперечн.локальн. выравнив
    */
}


.basis_grow_shrink {
    flex-grow:0;
    flex-shrink:0;
    /*
    flex-basis:350px;
    flex-grow:1; - растяжение
    flex-shrink:1;  - сжатие
    */
}

/*
article:hover  {
border-width:10px;
border-style:solid;
display: flex;
flex: 1 1 600px;//grow shrink basis
flex-flow: row nowrap;
justify-content: space-around;
align-items: center;
}*/
/*

.button {
display: flex;
flex-direction:row-reverse;
flex-wrap: wrap;
justify-content:right;
align-items: start;
}
*/
/*
button{
margin: 0.5rem;
padding: 1.0rem
}*/
